
.container{
    display: flex;
    align-items: center;
    position: relative;

    flex-direction: column;
    background-color: rgb(94, 188, 147);
    border-radius: 5%;
    border: 3px solid rgb(20, 86, 48);
    padding: 10px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    width: 200px;
    height: 280px;
    min-height: 330px;
}

img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgb(20, 86, 48);
}
.favButton{
    position: absolute;
    bottom: 20px;
    
}
.dentistName{
    text-align: center;
}